@model IEnumerable<Animal>
@{
    ViewData["Title"] = "Index";

}

<style>
    table {
        width: 100%;
    }
    th{
        width: 100%;
    }
    td{
        width: 100%;
    }
</style>

<div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>PictureName </th>
            <th>Name </th>
            <th>Age</th>
            <th>Description</th>
            <th>Comment Number</th>
        </tr>
        @{foreach (var animal in Model)
            {
                <tr>
                    <td><img src=@Url.Content(($"/Images/{animal.PictureName}")) width="500" height="400" /></td>
                    <td>@animal.Name</td>
                    <td>@animal.Age</td>
                    <td>@animal.Description</td>
                    <td>@animal.Comment.Count()</td>
                    <td><input type="button"  value="Show" onclick="location.href='@Url.Action("ShowAnimal", "Animal", new { id = animal.AnimalId })'" /></td>
                </tr>
            }
        }
    </table>
</div>

<script>
    console.log(@Model)
</script>

